<?xml version="1.0" encoding="UTF-8"?>
<config scope="client" clientversion="4" devicetype="all">
  <appid>p9line</appid>
  <appname>商城微店Agile Lite版</appname>
  <description>商城微店Agile Lite版</description>
  <version>1.3.0</version>
  <date>2015-07-02</date>
  <homepage src="res:page/index.uixml"/>
  <faultconfig src=""/>
  <access network="true" gps="true" camera="true" certificate="true" land="false" orientation="port"/>
  <vendor email="" url=""/>
  <icon main="res:image/main.png" logo="res:image/logo.png" selectedlogo="res:image/selectedlogo.png"/>
</config>