<!-- HTML5文件 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>新天地健身</title>
		<link rel="stylesheet" href="assets/agile/css/agile.layout.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.component.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.color.css">
		<link rel="stylesheet" href="assets/agile/css/flat/iconline.css">
		<link rel="stylesheet" href="assets/app/css/app.css">
	</head>
	<body>
		<div id="section_container">
			<section id="list_more_section" data-role="section" class="active">
				<header>
				    <div class="titlebar">
				    	<a data-toggle="back" href="#"><i class="iconfont iconline-arrow-left"></i></a>
				    	<h1>会员卡列表</h1>
				    </div>
				</header>
				<article data-role="article" id="main_article" data-scroll="pull" class="active" style="top:44px;bottom:0px;">
					<div class="scroller"> 
					    <ul class="listitem">
					    <script id="template" type="text/html">
						<% for (i = 0; i < root.length; i ++) { %>
						<li>
							<a onclick="nextpage('<%= root[i].cardtypename %>','<%= root[i].cardtypeclass %>','<%= root[i].cardtypeday %>'
							,'<%= root[i].cardtypetimes %>','<%= root[i].cardtypeprice %>');" class="button ricon">购买</a>
								<div class="text">
									<h1><%= root[i].cardtypename %>(<%= root[i].cardtypeclass %>)</h1>
										有效期：<%= root[i].cardtypeday %>,
										卡余次：<%= root[i].cardtypetimes %>,
					            		价格：￥<%= root[i].cardtypeprice %>元
					        	</div>
						</li>
						<% } %>
						</script>
					    </ul>
					</div>  
				</article>
			</section>
		</div>
		
		<!--- third --->
		<script src="assets/third/jquery/jquery-2.1.3.min.js"></script>
		<script src="assets/third/jquery/jquery.mobile.custom.min.js"></script>
		<script src="assets/third/iscroll/iscroll-probe.js"></script>
		<script src="assets/third/arttemplate/template-native.js"></script>
		<!-- agile -->
		<script type="text/javascript" src="assets/agile/js/agile.js"></script>		
		<!--- bridge --->
		<script type="text/javascript" src="assets/bridge/exmobi.js"></script>
		<script type="text/javascript" src="assets/bridge/agile.exmobi.js"></script>
		<!-- app -->
		<script type="text/javascript" src="assets/app/js/app.js"></script>
		<script>
			$('#main_article').on('refreshInit', function(){
				var coach = JSON.parse(window.localStorage.getItem("coach"));
				A.template('#template').renderReplace('../CardtypeAction.do?method=selAll');
			});
			function nextpage(cardtypename,cardtypeclass,cardtypeday
					,cardtypetimes,cardtypeprice){
				var customerid = window.localStorage.getItem("customerid");
	    		if(!customerid){
					A.confirm('提示','请先填写姓名和手机号码',
				    	function(){
							window.location.href = "register.html";
				    	},
				    	function(){
				    		A.alarmToast('你选择了“取消”');
				    		return;
				    });
				}
			    A.confirm('提示','确认购买'+cardtypename,
			    	function(){
				    	var json = "[{'cuscarddetail':'"+cardtypename
        			    +"','cuscardtype':'"+cardtypeclass
        			    +"','Cuscardcuscardpsw':'"+cardtypeday
        			    +"','cuscardnums':'"+cardtypetimes
        			    +"','cuscardtimes':'"+cardtypetimes
        			    +"','cuscardmoney':'"+cardtypeprice
        			    +"','cuscardcustomer':'"+customerid
        			    +"'}]";
				    	$.ajax({
							url : "../CuscardAction.do?method=insAll",
							data : {
								json : json
							},
							success : function(resp) {
								var respText = eval('('+resp+')'); 
				    			if(respText.success == false) {
				    				alert(respText.msg);
				    			}else {
				    				A.showToast('购买成功！');
				    				window.location.href = "place.html";
				    			}
							},
							error : function(resp) {
								alert('网络出现问题，请稍后再试');
							}
						});
			    	},
			    	function(){
			    		A.alarmToast('你选择了“取消”');
			    	});
			}
		</script>
	</body>
</html>