<!-- HTML5文件 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>新天地健身</title>
		<link rel="stylesheet" href="assets/agile/css/agile.layout.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.component.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.color.css">
		<link rel="stylesheet" href="assets/agile/css/flat/iconline.css">
		<link rel="stylesheet" href="assets/app/css/app.css">
	</head>
	<body>
		<div id="section_container">
			<section id="menu_section" data-role="section" class="active">
				<header>
				    <div class="titlebar">
				    	<a data-toggle="back" href="#"><i class="iconfont iconline-arrow-left"></i></a>
				    	<h1>场馆预约</h1>
				    </div>
				</header>
				<article data-role="article" id="main_article" data-scroll="pull" class="active">
				<div class="scroller">  
					<img data-source="../upload/qijian/stadium/one.png" class="img" style="width:100%;"/> 
					<ul class="listitem">
						<li class="sliver">请选择场地：
						<select name="select" id="placetime">
						<script id="templateplacetime" type="text/html">
						<% for (i = 0; i < root.length; i ++) { %>
							<option value="<%= root[i].placetimedetail %>">
							<%= root[i].placetimedetail %></option>
						<% } %>
						</script>
						    <!-- <option value="09:00~11:00">09:00~11:00</option>
							<option value="13:00~15:00">13:00~15:00</option>
							<option value="16:00~18:00">16:00~18:00</option> -->
						</select>
						</li>
						<script id="template" type="text/html">
						<% for (i = 0; i < root.length; i ++) { %>
						<li>
							<button onclick="nextpage('<%= root[i].placeid %>'
							,'<%= root[i].placename %>');" class="ricon">
							约(剩余<%= root[i].placepeople %>)</button>
				            <div class="text" style="line-height:28px;">
				            	<span><%= root[i].placename %></span>
				            </div>
						</li>
						<% } %>
						</script>
				        <!-- <li>
				        	<button class="ricon">约(剩余10)</button>
				            <div class="text" style="line-height:38px;">
				            	<span class="left">09:00~11:00</span>
				            	<span class="center">瑜伽室1</span>
				            </div>
				        </li> -->
				    </ul>
				</div>
				</article>
			</section>
		</div>
		
		<!--- third --->
		<script src="assets/third/jquery/jquery-2.1.3.min.js"></script>
		<script src="assets/third/jquery/jquery.mobile.custom.min.js"></script>
		<script src="assets/third/iscroll/iscroll-probe.js"></script>
		<script src="assets/third/arttemplate/template-native.js"></script>
		<!-- agile -->
		<script type="text/javascript" src="assets/agile/js/agile.js"></script>		
		<!--- bridge --->
		<script type="text/javascript" src="assets/bridge/exmobi.js"></script>
		<script type="text/javascript" src="assets/bridge/agile.exmobi.js"></script>
		<!-- app -->
		<script type="text/javascript" src="assets/app/js/app.js"></script>
		<script>
			var project = window.localStorage.getItem("project");
			$('#main_article').on('refreshInit', function(){
				var stadium = JSON.parse(window.localStorage.getItem("stadium"));
				if("all"==project){
					A.template('#template').renderReplace('../PlaceAction.do?method=selAll&wheresql=placestadium=\''+stadium.stadiumid+'\'');
					A.template('#templateplacetime').renderReplace('../PlacetimeAction.do?method=selAll');
				}else{
					A.template('#template').renderReplace('../PlaceAction.do?method=selAll&wheresql=placeproject=\''+project+'\' and placestadium=\''+stadium.stadiumid+'\'');
					A.template('#templateplacetime').renderReplace('../PlacetimeAction.do?method=selAll&wheresql=placetimeproject=\''+project+'\'');
				}
			});
			function nextpage(placeid,placename){
				if(!window.localStorage.getItem("customerid")){
					
					A.confirm('提示','请先填写姓名和手机号码',
					    	function(){
								window.location.href = "register.html";
					    	},
					    	function(){
					    		A.alarmToast('你选择了“取消”');
					    	});
				}else{
					var customerid = window.localStorage.getItem("customerid");
				    A.confirm('提示','确定预约'+placename,
				    	function(){
					    	var json = "[{'appointcustomer':'"+customerid  //会员id
	        			    +"','appointplace':'"+placeid
							+"','appointplacename':'"+placename
	        			    +"','appointcard':'"+"0"       //会员卡id
	        			    +"','appointproject':'"+project
							+"','appointdetail':'"+$('#placetime').val()
	        			    +"'}]";
					    	$.ajax({
								url : "../AppiontAction.do?method=insAll",
								data : {
									json : json
								},
								success : function(resp) {
									var respText = eval('('+resp+')'); 
					    			if(respText.success == false) 
					    				alert(respText.msg);
					    			else {
					    				A.showToast('预约成功！');
					    			}
								},
								error : function(resp) {
									alert('网络出现问题，请稍后再试');
								}
							});
				    	},
				    	function(){
				    		A.alarmToast('你选择了“取消”');
				    	});
				}
			}
		</script>
	</body>
</html>