<!-- HTML5文件 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>新天地健身</title>
		<link rel="stylesheet" href="assets/agile/css/agile.layout.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.component.css">
		<link rel="stylesheet" href="assets/agile/css/flat/flat.color.css">
		<link rel="stylesheet" href="assets/agile/css/flat/iconline.css">
		<link rel="stylesheet" href="assets/app/css/app.css">
	</head>
	<body>
		<div id="section_container">
			<section id="lazyload_section" data-role="section" class="active">
				<header>
				    <div class="titlebar">
				    	<a href="project.html"><i class="iconfont iconline-arrow-left"></i></a>
				    	<h1>场馆列表</h1>
				    </div>
				</header>
				<article data-role="article" id="main_article" data-scroll="pull" class="active" style="top:44px;bottom:0px;">
					<div class="scroller">  
						<ul class="listitem">
						<script id="template" type="text/html">
						<% for (i = 0; i < root.length; i ++) { %>
						<li>
							<a onclick="nextpage('<%= root[i].stadiumid %>','<%= root[i].stadiumcode %>','<%= root[i].stadiumname %>','<%= root[i].stadiumaddress %>'
							,'<%= root[i].stadiumstatue %>','<%= root[i].stadiumx %>','<%= root[i].stadiumy %>');">
								<i class="ricon iconfont iconline-arrow-right"></i>
								<img placeholder="assets/app/img/list/defaultimg.png" data-source="../<%= root[i].stadiumcode %>" class="img" style="width:100px;"/>
								<div class="text">
						              	<h1><%= root[i].stadiumname %></h1> 
						                <small>电话：<%= root[i].stadiumstatue %></small>
						                <small class="nowrap ellipsis">地址：<%= root[i].stadiumaddress %></small>
						                <small style="color: red;">距离：<%= root[i].stadiumdistance %></small>
					        	</div>
						    </a>
						</li>
						<% } %>
						</script>
					       <!--  <li>
					        	<a href="#stadium" data-toggle="html" class="navigate-right">						      		
						        	<i class="ricon iconfont iconline-arrow-right"></i>
					        		<img placeholder="assets/app/img/list/defaultimg.png" data-source="images/wanke1.jpg" class="img" style="width:100px;"/>
					        		<div class="text">
						              	<h1>新天地场馆</h1> 
						                <small>电话：0511000000</small>
						                <small class="nowrap ellipsis">地址：延平路121号15楼D座</small>
						                <small style="color: red;">距离：>500m</small>
					           		 </div>
						    	</a>
					        </li> -->
					    </ul>
    				</div>  

				</article>
			</section>
		</div>
		
		<!--- third --->
		<script src="assets/third/jquery/jquery-2.1.3.min.js"></script>
		<script src="assets/third/jquery/jquery.mobile.custom.min.js"></script>
		<script src="assets/third/iscroll/iscroll-probe.js"></script>
		<script src="assets/third/arttemplate/template-native.js"></script>
		<!-- agile -->
		<script type="text/javascript" src="assets/agile/js/agile.js"></script>		
		<!--- bridge --->
		<script type="text/javascript" src="assets/bridge/exmobi.js"></script>
		<script type="text/javascript" src="assets/bridge/agile.exmobi.js"></script>
		<!-- app -->
		<script type="text/javascript" src="assets/app/js/app.js"></script>
		<script>
			$('#main_article').on('refreshInit', function(){
				A.template('#template').renderReplace('../StadiumAction.do?method=selStadiums&latitude='+
						window.localStorage.getItem("latitude")+"&longitude="+
						window.localStorage.getItem("longitude"));
			});
			function nextpage(stadiumid,stadiumcode,stadiumname,stadiumaddress
					,stadiumstatue,stadiumx,stadiumy){
				var stadium = new Object();
				stadium.stadiumid = stadiumid;
				stadium.stadiumcode = stadiumcode;
				stadium.stadiumname = stadiumname;
				stadium.stadiumaddress = stadiumaddress;
				stadium.stadiumstatue = stadiumstatue;
				stadium.stadiumx = stadiumx;
				stadium.stadiumy = stadiumy;
				window.localStorage.setItem("stadium",JSON.stringify(stadium));
				window.location.href = "stadium.html";
			}
		</script>
	</body>
</html>